*{
    margin: 0;
    padding: 0;

}

body{
   background-image: url("main_background.gif"); 
   background-repeat: no-repeat;
   background-size: cover;
}

.main_content{
    background-color: rgb(255, 255, 255, .95);
    border-radius: 25px;
    position: absolute;
    width: 75vw;
    height: 40vw;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    left: 175px;
    flex-direction: row;
    padding: 5px;
    align-items: center;
    animation: slide 1s forwards;
    animation-delay: 1s;
    animation-timing-function: ease;
    opacity: 0;
    
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    height: 50px;
    border-bottom-left-radius: 1.5vw;
    border-bottom-right-radius: 1.5vw;
    border-bottom: solid black 5px;
    animation: slide1 1s forwards;
    animation-delay: 1s;
    animation-timing-function: ease;
    opacity: 0;
}

.navbar a{
    text-decoration: none;
    color: black;
}

.navbar a:hover{
    color: rgba(115, 217, 217, 0.7);
    text-transform: uppercase;
}


.main, .news, .garage, .car, .about_us{
    font-family: 'Hanalei Fill';
    cursor: pointer;
    margin-left: 50px;
    font-size: 24px;
    color: black;
    text-decoration: none;
    
    
}
.texts{
    padding: 15px;
    border-radius: 15px;
    border: solid black 2px;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 20vw;
    
}
a:link{
    text-decoration: none;
}

.main:hover{
    color: rgba(115, 217, 217, 0.7);
    
}

.news:hover, .garage:hover{
    color: rgba(115, 217, 217, 0.7);
    text-transform: uppercase;
    
}

.car:hover, .about_us:hover{
    color: rgba(115, 217, 217, 0.7);
    text-transform: uppercase;
   
}

.main{
    transition: width 2s ease 1s;
}

.nav_text{
    transition: font-size 1s transfrom 1s;
}

.nav_text:hover{
    font-size: 30px;
}
.logo{
    
}

#log1{
    width: 400px;
    height: 320px;
    border-radius: 2vw;
}
.right{
    width: 45vw;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 10px;


}
.head_text{
    text-align: center  ;
    font-size: 40px;
    font-family: 'Hanalei Fill';
    text-decoration: underline;
}

.undertext{
    font-size: 35px;
    font-family: 'Permanent Marker', cursive;
}
.main_text1{
    margin-top: 5px;
    font-size: 20px;
    font-family: 'Permanent Marker', cursive;

}

@keyframes slide {
    0% {bottom: -100px; opacity: 0;}    
    100% { bottom: 0px; opacity: 1;}
}

@keyframes slide1{
    0% {top: -20px; opacity: 0;}
    100% {top: 50px; opacity: 1;}
}



@media screen and (max-width: 412px){
    body{
        background-image: url("C:/Users/mukan/Desktop/HTML-CSS/final_project/mobile_back.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .logo{  
        margin: 0;
        padding: 0;
    }
    .main_content{
        display: flex;
        position: relative;
        left: 0px;
        width: 390px;
        height: 400px;
        padding: 0;
        margin: 0;
    }

    @keyframes slide {
        0% {bottom: -100px; opacity: 0;}    
        100% { bottom: -50px; opacity: 1;}
    }
    #log1{
        width: 240px;
        height: 200px;
    }
    .right{
        height: 100px;
    }
    .main_text1{
        font-size: 5px;
    }
    .head_text{
        font-size: 20px;
    }
    .undertext{
        font-size: 20px;
    }
    .texts{
        height: 300px;
    }
    .navbar{
        width: 300px;
    }
    .nav_text{
        display: flex;
        font-size: 10px;
        padding: 2px;

    }
}
